@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body, html {
        /* The image used */
        background-image: url("assets/imagem1.jpeg");
      
        /* Add the blur effect */
        

      
        /* Full height */
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center center ;
        background-size: cover;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: 5%;

      
  }


  

  /*Create the card container*/
  .birthdayCard {
    position: relative;
    width: 250px;
    height:350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
  }
  
  .birthdayCard:hover {
      transform: perspective(2500px) rotate(5.5deg);
      box-shadow: inset 50px 20px 50px rgba(0, 0, 0, 0.747), 0 10px 100px rgba(0,0,0,0.3);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg); 
  }
  
  .birthdayCard:hover .front-text {
    display: none;
  }
  
  /*pode remover se quiser deixar o desenho*/
  .birthdayCard:hover .wrap-deco {
    display: none;
  }
  /**********/

  .birthdayCard:hover .wrap-decoTwo {
    display: none;
  }

  /*pode remover se quiser deixar o bolo*/
  .birthdayCard:hover .plate {
    display: none;
  }
   /**********/

  /*Style the front of the card*/
  .cardFront {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height:400px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.164), 10px 0 30px rgba(0, 0, 0, 0.171);
    transition: .4s;
    box-shadow: 2px 3px 4px black;
  }
  
  .happy, .toyou {
    position: relative;
    font-family: didot;
    text-align: center;
    backface-visibility: hidden;
    font-size: 30px; 
  }
  
  .feliz {
   font-family: 'Poppins', sans-serif;
   text-shadow: 1px 2px 6px rgba(99, 99, 99, 0.356);
  }
  
  .toyou {
    top:123px;
  }
  
  .bday {
    position: relative;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    top:163px;
  }
  
  
  
  .cake img {
   height: 300px;
   width: 240px;
   overflow: hidden;
   align-items: center;
   justify-content: center;
   box-shadow: 1px 1px 4px black;
  }
  
  
  /*Style the inside part of the card*/
  .cardInside {
    position: absolute;
    background-color: #faf8f8;
    width: 300px;
    height: 400px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: 100px 20px 100px rgba(0, 0, 0, 0.377), 30px 0 50px rgba(0, 0, 0, 0.342);
  }
  .theoffice
  {
    width: 180px;
  }
  birthdayCard .theoffice img
  {
    box-shadow: 4px 3px 4px black;
  }
  .titulo
  {
    font-family: 'Brush Script MT';
    font-size: 20px;
    color: #333;
  }
  a {
    display: block;
    width: 138px;
    height: 43px;
    padding-top: 3px;
    line-height: 40px;
    background-color: rgb(0, 0, 0);
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}
  .botao:hover{
    background-color: rgb(36, 35, 36);
    color: rgb(255, 255, 255);
    transform: scale(1.2)
}
  .inside-text {
    position: relative;
    top:-160px;
    transform: scale(0.7);
  }
  
  .wishes {
    position: relative;
    top:-100px;
    margin: 25px;
  }
  
  p {
    font-family: 'Brush Script MT';
    color: #333;
  }
  
  .name {
    margin-left:200px;
  }